!!! 5
%html{lang: 'en'}
  %head
    %title Fix My Life

    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{:"http-equiv" => "X-UA-Compatible", content: "IE=edge"}
    %link{href: "/assets/app.css", rel: "stylesheet"}
    %link{rel: "shortcut icon", href: "/assets/favicon.ico"}
    %link{href: "https://fonts.googleapis.com/css?family=Barlow|Geostar+Fill|Barlow+Semi+Condensed", rel: "stylesheet"}

  %body
    = yield
    
    %script{:src => "/assets/app.js"}
